<!doctype html>
<html lang="en" data-bs-theme="light"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Include Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">

    <script type="importmap">
        {
          "imports": {
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js",
            "axios": "https://cdn.jsdelivr.net/npm/axios@1.7.3/+esm",
            "tabulator": "https://unpkg.com/tabulator-tables@6.2.5/dist/js/tabulator_esm.min.js",
            "ld": "https://cdn.jsdelivr.net/npm/launchdarkly-js-client-sdk@3.4.0/+esm"
          }
        }
    </script>

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/6.2.5/css/tabulator_bootstrap5.min.css"
          integrity="sha512-qDEgvDbdp7tq+ytU/OgCzWfvbfdEe3pv0yEOMz/gurMcR0BWNgIF6I4VKeoACEj5E5PFf1uo3Vzuwk/ga9zeUg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <title>LD Homework - Osborn</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Osborn LD Solution</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <!-- ml-auto still works just fine-->
            <div class="navbar-nav ms-auto mb-2 mb-lg-0">
                <a class="nav-link active text-nowrap" aria-current="page" href="#">
                    <div class="text-nowrap">
                        <span>Hello</span>
                        <span sec:authentication="principal.firstName"></span>
                        <span class="fw-lighter">(<span sec:authentication="principal.emailAddress"></span>)</span>
                    </div>
                </a>
                <a sec:authorize="isAuthenticated()" class="nav-link" href="logout" tabindex="-1" aria-disabled="true">Logout</a>
                <a sec:authorize="!isAuthenticated()" class="nav-link disabled" href="#" tabindex="-1"
                   aria-disabled="true">Logout</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <h3>Olympic Results</h3>
    <p>See the results for each competition since 1896</p>

    <div id="app">

        <div id="medal-table" class="table table-light"></div>

        <div v-if="ldReady">... content that uses LaunchDarkly ...</div>
        <div v-else>LaunchDarkly client initializing...</div>
    </div>

</div>
<script type="module">

    import {createApp, ref} from 'vue';
    import {TabulatorFull as Tabulator} from 'tabulator';
    import * as LDClient from 'ld';
    import axios from 'axios';

    const instance = axios.default.create({
        baseURL: '/api/olympics/',
        timeout: 1000,
        withCredentials: true,
    });

    createApp({
        setup(props) {
            console.log('setup section here')
        },
        data() {
            return {
                ldReady: false,
                ldFlag: false,
                version: 0,
            }
        },
        watch: {
            ldReady(newVal, oldVal) {
                console.log("LD READY CHANGE STATE", newVal, oldVal);
            },
            ldFlag(newVal, oldVal) {
                console.log("LD FLAG CHANGE STATE", newVal, oldVal);
                this.version = newVal ? 2 : 1
            },
            version(newVal, oldVal) {
                console.log('version change from ', oldVal, newVal);
                if (newVal === 1) {
                    let table = new Tabulator("#medal-table", {
                        height: 650,
                        layout: "fitColumns",
                        pagination: false,
                        columns: [
                            {title: "Year", field: "olympicYear", width: 150, sorter: "number"},
                            {title: "City", field: "city"},
                            {title: "Sport", field: "sport"},
                            {title: "Discipline", field: "discipline"},
                            {title: "Athlete", field: "athlete"},
                            {title: "Country", field: "country"},
                            {title: "Gender", field: "gender"},
                            {title: "Event", field: "event"},
                            {title: "Medal", field: "medal"},
                        ],
                    });
                    instance
                        .get('/results')
                        .then(response => {
                            //this.items = response.data;
                            table.setData(response.data);
                        })
                        .catch(error => {
                            console.error('Error fetching data:', error);
                        });
                } else if (newVal === 2) {
                    new Tabulator("#medal-table", {
                        height: 650,
                        layout: "fitColumns",
                        pagination: true,
                        paginationMode: "remote",
                        sortMode: "remote",
                        ajaxURL: "/api/olympics/paged/results",
                        dataReceiveParams: {
                            "last_page": "totalPages",
                            "data": "content",
                        },
                        ajaxURLGenerator: function (url, config, params) {
                            return url + "?params=" + encodeURI(JSON.stringify(params)); //encode parameters as a json object
                        },
                        columns: [
                            {title: "Year", field: "olympicYear", width: 150, sorter: "number"},
                            {title: "City", field: "city"},
                            {title: "Sport", field: "sport"},
                            {title: "Discipline", field: "discipline"},
                            {title: "Athlete", field: "athlete"},
                            {title: "Country", field: "country"},
                            {title: "Gender", field: "gender"},
                            {title: "Event", field: "event"},
                            {title: "Medal", field: "medal"},
                        ],
                    });
                }
            }
        },
        mounted() {
            console.log('mounted section here')
            this.version = 1
            instance
                .get('/ldContext')
                .then(response => {
                    console.log('ldContext:', response.data);

                    const ldClient = LDClient.initialize('66b36d56cd98fb104ad0ad8c', response.data);
                    ldClient.on('ready', () => {
                        // flag values available
                        console.log('ld client ready')
                        this.ldReady = ref(true)
                        this.ldFlag = ldClient.variation('feature-olympic-pagination', false);
                        console.log('setting flag', this.ldFlag)
                    });
                    ldClient.on('change:feature-olympic-pagination', (value, previous) => {
                        console.log('feature-olympic-pagination changed:', value, '(' + previous + ')');
                        this.ldFlag = value
                    });
                })
                .catch(error => {
                    console.error('Error fetching ldContext:', error);
                });
        }
    }).mount('#app');


</script>

</body>
</html>